<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505348381760-t94vga9pd1a4r4f1276eojtv81lbio8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505348381760-t94vga9pd1a4r4f1276eojtv81lbio8q</string>
	<key>API_KEY</key>
	<string>AIzaSyBHsJW-D8Ktfwp5GYxYC1mOBK4GcalkVqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>505348381760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almoirmo.bwaAirplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-401e1</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-401e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505348381760:ios:c01666d57377eff6ced3a5</string>
</dict>
</plist>